{% sw_extends '@Storefront/storefront/component/buy-widget/buy-widget-price.html.twig' %}
        {% block buy_widget_price_content %}
            {% set listPrice = price.listPrice %}
            {% set isListPrice = price.listPrice.percentage > 0 %}
            {% set isRegulationPrice = price.regulationPrice != null %}

            <p class="product-detail-price{% if isListPrice %} with-list-price{% endif %}{% if isRegulationPrice %} with-regulation-price{% endif %}">
                {{ price.unitPrice|currency }}{{ 'general.star'|trans|sw_sanitize }}
            </p>

            {% if isListPrice %}
                {% block buy_widget_was_price %}
                    {{ parent() }}
                {% endblock %}
            {% endif %}
            {% if isRegulationPrice %}
                <span class="product-detail-list-price-wrapper">
                    <span class="regulation-price">{{ 'general.listPricePreviously'|trans({'%price%': price.regulationPrice.price|currency }) }}</span>
                </span>
            {% endif %}
        {% endblock %}
