body {
    font-size: 0.875rem;
}


p {
    margin-bottom: 1rem;
}

a {
    text-decoration: none;
}

a[data-ajax-modal] {
    text-decoration: underline;
}

ol, ul, dl {
    margin-bottom: 1rem;
}

.btn {
    font-size: 0.875rem;
}
.btn-lg, .btn-group-lg>.btn, .btn-buy {
    font-size: 1rem;
}
.btn-link {
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

.breadcrumb {
    --bs-breadcrumb-margin-bottom: 0.1rem;
    --bs-breadcrumb-padding-y: 0.3rem;
    background-color: white;
    a {
        font-size: 0.875rem;
        color: $sw-text-color;
        text-decoration: none;
    }
}

.cms-section .cms-section-sidebar>.row {
    --bs-gutter-x: 40px;
}

.cms-section .cms-section-sidebar {
    background-color: white;
}

// Conversion Header oben
.ch-desktop-wrapper{
    background-color: $sw-color-brand-primary !important;
}

.home-bestsellers-slider .tns-nav {
    display: none;
}

// Conversion Header oben
.ch-desktop-wrapper{
    background-color: $sw-color-brand-primary !important;
}

/* AGB-Abfrage Label nach link verschieben, um die Breite vom Checkbox zu compensieren*/
.checkout-confirm-tos-label {
    margin-left: -1.5rem;
}

.form-control, .form-select, .form-text {
    font-size: 0.875rem;
}

.form-control {
    padding: 0.5625rem 0.5625rem;
}

.form-select {
    padding: 0.5625rem 1.6875rem 0.5625rem 0.5625rem;
}

.form-check {
    min-height: 1.3125rem;
}

.was-validated .form-control:invalid:focus, .form-check-input:focus, .was-validated .form-control.is-invalid:focus, .was-validated .form-control:valid:focus, .was-validated .form-control.is-valid:focus, .was-validated .form-select:invalid:focus, .was-validated .form-select.is-invalid:focus, .was-validated .form-select:valid:focus, .was-validated .form-select.is-valid:focus, .form-control:invalid:focus, .form-control.is-invalid:focus, .form-control:valid:focus, .form-control.is-valid:focus, .form-select:invalid:focus, .form-select.is-invalid:focus, .form-select:valid:focus, .form-select.is-valid:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 119, 187, 0.6);
}

.cms-element-product-listing .cms-listing-row {
    --bs-gutter-y: 0;
}

.btn-check:checked+.product-detail-configurator-option-label {
    --bs-btn-border-width: 1px;
}

.cms-section-sidebar-mobile-wrap.boxed >.row {
    padding-left: 20px;
    padding-right: 20px;
}