.offcanvas {
    &.navigation-offcanvas {
        .offcanvas-header {
            .offcanvas-close {
                font-size: 0.875rem;
                color: #798490;
                background-color: #f9f9f9;
                border: 0;
                .icon {
                    color: #798490;
                }
            }
        }
        .offcanvas-body {
            .navigation-offcanvas-actions {
                padding: 0;
                margin: 0;
            }
            .navigation-offcanvas-headline, .navigation-offcanvas-link {
                font-size: 0.875rem;
            }
            .navigation-offcanvas-content.navigation-offcanvas-root {
                transition: left 0.5s ease-in;
            }
        }
    }

}